# Dependency directories
node_modules/
dist/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# VS Code
.vscode
!.vscode/tasks.js

# Misc
.DS_Store

# Logs
logs
*.log
npm-debug.log*